@font-face{
  font-family:'icomoon';
  src:url("./fonts/icomoon.eot?yisc3l");
  src:url("./fonts/icomoon.eot?yisc3l#iefix") format("embedded-opentype"),
  url("./fonts/icomoon.woff2?yisc3l") format("woff2"),
  url("./fonts/icomoon.ttf?yisc3l") format("truetype"),
  url("./fonts/icomoon.woff?yisc3l") format("woff"),
  url("./fonts/icomoon.svg?yisc3l#icomoon") format("svg");
}

*
  margin 0
  padding 0

a
  text-decoration none
.float,.percent
  font-size 12px
.sleft
  float left
  border-right 1px solid #BDDAF5
  width 182px
  margin 6px 0 5px 12px 
.sright
  float left
  margin 6px 0 5px 12px 

.finance-wrapper
  height 102px
  width 388px
  border 1px solid #CAE0F3
  border-top 3px solid #9EC9EE
  overflow hidden

.st-item .detail span
  color #DF4D42


.icon-num-2,.icon-num-7,.icon-num-8,.icon-num-3,.icon-num-d,.icon-num-0,.icon-num-5
  font-family 'icomoon' !important

.icon-num-2:before
  content "\32"
  font-size 14px
.icon-num-7:before
  content "\37"
  font-size 14px
.icon-num-8:before
  content "\38"
  font-size 14px
.icon-num-3:before
  content "\33"
  font-size 14px
.icon-num-d:before
  content "\2e"
.icon-num-0:before
  content "\30"
  font-size 14px
.icon-num-5:before
  content "\35"
  font-size 14px
