*{
    margin: 0;
    padding: 0;
}
.w{
    width: 1200px;
    margin: auto;
}
ul{
    margin: 0;;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    height: 42px;
    /* background-color: pink; */
    margin: 30px auto;
}
.logo {
    float: left;
    width: 198px;
    height: 42px;
    background-color: purple;
}
.nav{
    float: left;
    margin-left: 60px;
}
.nav ul li{
    float: left;
    margin-right: 20px;
}
.nav ul li a{
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
   
}
.select{
    border-bottom: 2px solid #3436ca;
}