#pic{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.addPagetupian{
  margin-top:6rem;
  width:25rem
}
#addInput{
  width: 20rem;
  margin-top: 3rem;
  height: 5rem;
  border-radius: 2rem;
  padding-left: 10rem;
}
.addstar{
  display: flex;
  margin-top: 4.4rem;
}
.addstar .addstar-cancel{
  margin-left: 2rem;
  font-size: 2rem;
  color: #AFB0B2;
}
.addstar .addstar-next{
  height: 3rem;
  width: 8rem;
  border-radius: 3rem;
  background-color: #16B998;
  color: white;
  margin-right: 2rem;
}

.addstar span{
  flex:1
}