.msg-enter{
  opacity: 0;
  transform:  scale(0.5);
}
.msg-enter-active, .msg-enter-done{
  opacity: 1;
  transform: scale(1);
  transition: all 2000ms;
}

.msg-exit{
  opacity: 1;
  transform: scale(1);
}
.msg-exit-active, .msg-exit-done{
  opacity: 0;
  transform: scale(0.5);
  transition: all 2000ms;
}
.box{
  width: 100px;
  height: 100px;
  background-color: red;
}



.tab-item {
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
  border-radius: 5px 5px 0 0;
  border-right-width: 0;
  display: inline-block;
  padding: 8px 15px;
  text-align: center;
  width: 90px;
  box-sizing: border-box;
  font-size: 12px;
}

.tab-item:last-of-type {
  border-right-width: 1px;
}

.tab-item-active {
  background: #fff;
  border-bottom: none;
}

.btn-add {
  display: inline-block;
  cursor: pointer;
  margin-left: 50px;
}

.btn-delete {
  cursor: pointer;
  float: right;
}

.tabs-wrap-enter {
  opacity: 0.01;
}
.tabs-wrap-enter-active{
  opacity: 1;
  transition: all 500ms;
}

.tabs-wrap-exit{
  transform: rotate(0);
}
.tabs-wrap-exit-active{
  transform: rotate(360deg);
  transform-origin: top ;
  transition: all 500ms;
}