ul,li{
    list-style: none;
    margin: 0;
    padding: 5px 5px;
}
li{
    display: flex;
    
}
span{
    flex: 1;
}

li:nth-child(odd){
    background-color: #efefef;
}
#map{
    width:600px;
    height:400px;
    margin: 50px auto;
    border:1px solid #ddd;
}