.container, .page{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .page__bd{
    height: 100%;
    background-color: #F5FAFE;
    overflow-y: auto;
  }
  
  .fruit-items{
    font-size: 0;
    padding: 3%;
  }
  
  .fruit-item{
    background-color: #fff;
    display: inline-block;
    width: 47%;
    font-size: 14px;
    margin: 5px;
  }
  
  .pic{
    width: 100%;
    height: 100%;
  }
  .pic img{
    display: block;
    width: 100%;
  }
  
  .fruit-item p{
    text-align: center;
  }
  .tab{
      display:none;
  }
  .tab.show{
      display: block;
  }